<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<mappers>
		<!-- mapper resource="net/linghou/erp/salesorder/mapper/SellOrder.xml" 
			/> -->
		<package name="net.linghou.erp.sellorder.mapper" />
	</mappers>
</configuration>